<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../../static/partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('../../static/partials/banner'); %>
    <%- include('../../static/partials/navbar'); %>
    <%- include('../../static/partials/messages'); %>

    <main class="container">
      <h2 class="text-center" id="headerFonts"><%= discussion.title %></h2>
      <div class="d-flex">
        <div class="mr-auto">
          <%- include('../../static/partials/breadcrumbNav'); %>
        </div>
        <div>
        <% if(currentUser) { %>
          <a href="/forums/discussion/<%= discussion.id %>/post/new">
            <button type="submit" class="btn btn-success btn-lg">New Post</button>
          </a>
        <% } %>
        </div>
      </div>

      <div id="formContainer">
        <p><%- discussion.description %></p>
        <small class="text-muted">Posted by <%= discussion.User.username %> on: <%= discussion.createdAt %></small>
      <% if(currentUser && (currentUser.id == discussion.userId || currentUser.role == 'admin')) { %>
        <div class="container row">
          <a href="/forums/discussion/<%= discussion.id %>/edit" class="btn btn-warning btn-sm">Edit</a>
          <form action="/forums/discussion/<%= discussion.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      <% } %>
      </div>

      <h2 class="text-center" id="headerFonts">Posts</h2>

      <ul class="list-group">
        <% discussion.posts.forEach((post) => { %>
          <li class="list-group-item">
            <p style="background-color: lightgrey;"><%= post.User.username %> says: <%= post.title %></p>
            <p><%- post.body %></p>
          <% if(post.createdAt == post.updatedAt) { %><!-- fix this-->
            <small class="text-muted">Updated: <%= post.updatedAt %></small>
          <% } %>
            <small class="text-muted">Posted: <%= post.createdAt %></small>
          <% if(currentUser && (currentUser.id == post.userId || currentUser.role == 'admin')) { %>
            <div class="container row">
              <a href="/forums/discussion/<%= post.discussionId %>/post/<%= post.id %>/edit" class="btn btn-warning btn-sm">Edit</a>
              <form action="/forums/discussion/<%= post.discussionId %>/post/<%= post.id %>/destroy" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          <% } %>
          </li>
        <% }) %>
      </ul>
    </main>

    <%- include('../../static/partials/baseScripts'); %>
  </body>
</html>
