<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('../static/partials/banner'); %>
    <%- include('../static/partials/navbar'); %>
    <%- include('../static/partials/messages'); %>

    <h2 class="text-center" id="headerFonts">Items List</h2>
    
    <div class="container">
      <h1 id="formContainer" class="text-center">IN DEVELOPMENT!</h1>

    </div>

    <%- include('../static/partials/baseScripts'); %>    
  </body>
</html>