<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('partials/banner'); %>
    <%- include('partials/navbar'); %>
    <%- include('partials/messages'); %>

      <div class="container text-center" id="landingNews">
        <div class="row justify-content-around" id="headerFonts">
          <div class="col-4 border border-dark bg-dark rounded" style="max-width: 100%;">
            <h4 class="text-white">Latest Discussions</h4>
            <% if(discussions) { %>
              <% discussions.forEach((discussion) => { %>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/forums/discussion/<%= discussion.id %>"><%= discussion.title %></a>
                    <div>
                      <small class="text-muted">Posted by: <%= discussion.User.username %></small>
                    </div>
                  </li>
                </ul>
              <% }) %>
            <% } %>
          </div>
          <div class="col-4 border border-dark bg-dark rounded" style="max-width: 100%;">
            <h4 class="text-white">Latest News</h4>
            <% if(newsPosts) { %>
              <% newsPosts.forEach((newsPost) => { %>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/news/<%= newsPost.title %>"><%= newsPost.title %></a>
                    <!--
                    <div>
                      <small class="text-muted">Posted on: <%= newsPost.createdAt %></small>
                    </div>
                    -->
                  </li>
                </ul>
              <% }) %>
            <% } %>
          </div>
        </div>
      </div>

    <%- include('partials/baseScripts'); %>
  </body>
</html>
