<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('../static/partials/banner'); %>
    <%- include('../static/partials/navbar'); %>
    <%- include('../static/partials/messages'); %>
    
    <div class="container">
      <h2 class="text-center" id="headerFonts">Edit Post</h2>

      <div id="formContainer">
        <form action="/news/<%= newsPost.title %>/update" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Enter title" value="<%= newsPost.title %>">
            <textarea class="form-control" name="body" cols="30" rows="20" placeholder="Enter text"><%- newsPost.body %></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Update Post</button>
        </form>
      </div>
    </div>

    <%- include('../static/partials/baseScripts'); %>    
  </body>
</html>