<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('../static/partials/banner'); %>
    <%- include('../static/partials/navbar'); %>
    <%- include('../static/partials/messages'); %>

    <h2 class="text-center" id="headerFonts">Official News</h2>
    
    <div class="container">
      <% if(currentUser && currentUser.role == 'admin') { %>
        <a class="btn btn-success btn-lg" href="/news/new">New Post</a>
      <% } %>
      <% if(newsPosts) { %>
        <% newsPosts.forEach((newsPost) => { %>
          <ul class="list-group">
            <a class="list-group-item list-group-item-action" href="/news/<%= newsPost.title %>">
              <%= newsPost.title %>
              <div>
                <small class="list-group text-muted">Posted: <%= newsPost.createdAt %></small>
              </div>
            </a>
          </ul>
        <% }) %>
      <% } %>

    </div>

    <%- include('../static/partials/baseScripts'); %>    
  </body>
</html>