<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('../static/partials/banner'); %>
    <%- include('../static/partials/navbar'); %>
    <%- include('../static/partials/messages'); %>

    <main class="container">
      <h2 class="text-center" id="headerFonts">Forums</h2>

      <div class="d-flex">
        <div class="mr-auto">
          <nav aria-label="breadcrumb" id="breadcrumbNav">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Forums</li>
            </ol>
          </nav>
        </div>
        <div>
        <% if(currentUser) { %>
          <a href="/forums/discussion/new">
            <button type="submit" class="btn btn-success btn-lg">New Discussion</button>
          </a>
        <% } %>
        </div>
      </div>

      <ul class="list-group">
        <% discussions.forEach((discussion) => { %>
          <li class="list-group-item">
            <a href="/forums/discussion/<%= discussion.id %>"> <%= discussion.title %> </a>
            <p>
              <small class="text-muted">Posted: <%= discussion.createdAt %></small>
            </p>
          <!--  <small class="text-muted"><%= discussion.description %></small> maybe add this-->
          </li>
        <% }) %>
      </ul>

      <nav class="justify-content-right" aria-label="pageNavigation">
        <ul class="pagination justify-content-end">
        <% if(page <= 1) { %>
          <li class="page-item disabled">
        <% }else { %>
          <li class="page-item">
        <% } %>
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) - 1}` %> tabindex="-1" aria-label="Previous">
              Previous
            </a>
          </li>
        <% if(page > 1 && page != maxPageSize) { %>
          <li class="page-item">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) - 1}` %>>
              <%= parseInt(page) - 1 %>
            </a>
          </li>
        <% }else if(page >= 3) { %>
          <li class="page-item">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) - 2}` %>>
              <%= parseInt(page) - 2 %>
            </a>
          </li>
        <% } %>
        <% if(page != maxPageSize) { %>
          <li class="page-item active">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page)}` %>>
              <%= page %>
            </a><span class="sr-only">(current)</span>
          </li>
        <% }else { %>
          <li class="page-item">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) - 1}` %>>
              <%= parseInt(page) - 1 %>
            </a>
          </li>
        <% } %>
        <% if(page < maxPageSize) { %>
          <li class="page-item">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) + 1}` %>>
              <%= parseInt(page) + 1  %>
            </a>
          </li>
        <% } %>
        <% if(page == maxPageSize) { %>
          <li class="page-item active">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page)}` %>>
              <%= page %>
            </a><span class="sr-only">(current)</span>
          </li>
        <% }else if(page == 1 && maxPageSize > 2) { %>
          <li class="page-item">
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) + 2}` %>>
              <%= parseInt(page) + 2 %>
            </a>
          </li>
        <% } %>
        <% if(page >= maxPageSize) { %>
          <li class="page-item disabled">
        <% }else { %>
          <li class="page-item">
        <% } %>
            <a class="page-link" href=<%= `/forums?page=${parseInt(page) + 1}` %> aria-label="Next">
              Next
            </a>
          </li>
        </ul>
      </nav>
    </main>

    <%- include('../static/partials/baseScripts'); %>
  </body>
</html>
