<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body id="backgroundImg">
    <%- include('../static/partials/banner'); %>
    <%- include('../static/partials/navbar'); %>
    <%- include('../static/partials/messages'); %>

    <div class="container">
      <h2 class="text-center" id="headerFonts">New PBE Post</h2>

      <div id="formContainer">
        <form action="/pbe/create" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Enter title">
            <textarea class="form-control" name="body" rows="15" cols="80" placeholder="Enter text"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>

    <%- include('../static/partials/baseScripts'); %>
  </body>
</html>
